.experience, .skills, .techSkills {
  text-align: left;
  width: 10rem; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  text-align: center; }

a {
  text-decoration: none;
  color: black; }

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 5rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  color: #e63b3b; }

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  text-align: left;
  width: 90%; }

h4 {
  font-size: 21px;
  font-weight: 600;
  color: #e63b3b;
  font-family: 'Josefin Sans', sans-serif; }

.bGrey {
  background-color: #f7f5f5; }

.fRed {
  color: #e63b3b; }

.grey {
  background-color: #f7f5f5;
  padding: 60px 0px 60px 0px; }

.white {
  padding: 60px 0px 60px 0px; }

.bgRed {
  background-color: #e63b3b; }

.textWhite {
  color: white; }

nav {
  margin-top: 30px;
  margin-bottom: 100px;
  width: auto;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr;
  justify-items: center; }

nav div {
  display: flex;
  align-items: center; }

.listaHeader li a:hover {
  color: #e63b3b; }

.logo {
  padding-right: 10px; }

.uxui {
  font-weight: 200; }

.ivanGjuri {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  display: inline;
  font-weight: 600;
  margin-bottom: 0; }

.listaHeader {
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  list-style: none;
  float: right;
  width: auto;
  font-size: 20px;
  margin-top: 25px;
  font-weight: 600; }

.listaHeader li {
  padding: 5px;
  margin-left: 10px; }

footer {
  background-color: #202020;
  padding-top: 10px;
  padding-bottom: 40px;
  width: 100%;
  margin-top: 60px;
  text-align: center; }

.quickDesc {
  width: 90%;
  text-align: left; }

.education {
  text-align: left; }

.socialButtons {
  margin: 0px;
  padding: 0px; }

.socialButtons li {
  list-style: none;
  display: inline-block; }

.linkedIn {
  height: 4.6rem;
  padding: 15px 20px 20px 20px; }

.instagram {
  width: 5rem;
  padding: 15px 20px 20px 20px; }

.picLine {
  display: flex;
  flex-direction: column;
  align-items: center; }

.picAndSocial {
  grid-column-start: 1;
  grid-column-start: 2;
  justify-content: center;
  display: flex;
  width: fit-content; }

.aboutDesc {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.centerAbout {
  display: flex;
  justify-content: center; }

.aboutDiv {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center; }

.education ul {
  padding: 0; }

.aboutMe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  justify-content: space-evenly;
  width: 70%; }

.profilePic {
  box-shadow: 5px 5px 7px grey;
  height: 18rem; }

.workTitle {
  text-align: center;
  grid-row: 1/3;
  grid-column: 2/3; }

.workGrid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 0.3fr 0.3fr 0.3fr; }

.workGrid p {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2/3;
  margin: 0;
  display: flex;
  align-items: center; }

.workKais {
  box-shadow: 5px 5px 7px grey;
  padding: 30px 15px 30px 15px;
  border: 1px solid #c5c5c5;
  margin: auto;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 50px;
  grid-column: 2/3;
  grid-row: 3/4; }

.workKais h3 {
  margin: 0px;
  font-size: 40px; }

.workKais h4 {
  text-align: left;
  width: 400px; }

.workKais p {
  text-align: left;
  width: 400px; }

.workKais img {
  width: auto;
  height: 400px; }

.kaisDesc {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.kaisThumbnail {
  justify-content: flex-end;
  display: flex; }

.kaisThumbnail a {
  transition: transform 0.5s; }

.kaisThumbnail a:hover {
  transform: scale(1.1, 1.1); }

.table {
  width: 60%;
  margin: auto;
  margin-bottom: 410px; }

.freelanceTitle {
  text-align: center;
  margin-bottom: 60px; }

.table th {
  font-size: 22px; }

.projectName {
  text-align: center; }

.aboutTheProject {
  width: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-items: center; }

.aboutTheProject h3 {
  text-align: center;
  margin-top: 50px; }

.userResearch {
  margin: auto;
  width: 50%; }

.UserResearchDesc {
  text-align: left; }

.personaOne {
  margin-top: 30px;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  text-align: left; }

.personaTwo {
  margin-top: 30px;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  text-align: left; }

.personas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.personas ul {
  list-style: none; }

.personas li {
  margin-bottom: 7px; }

.personas li span {
  font-weight: 600; }

.personasDesc {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  text-align: left; }

.audit {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column; }

.audit p {
  text-align: left; }

.auditList {
  font-weight: 500;
  text-align: left; }

.auditImages {
  display: flex;
  justify-content: flex-end; }

.audit img {
  margin: 10px;
  width: auto;
  height: 65px; }

.goalStatement {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column; }

.goalStatement p {
  text-align: left; }

.userFlow {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column; }

.userFlow p {
  text-align: left; }

.userFlow img {
  width: auto;
  height: auto; }

.myResume {
  text-align: center; }

.curriculum {
  width: 600px;
  height: auto; }

@media only screen and (max-width: 788px) {
  nav {
    display: flex;
    flex-direction: column; }
  nav div {
    margin: auto; } }

@media only screen and (max-width: 615px) {
  .logo {
    display: none; }
  .listaHeader {
    padding: 0px; }
  h2 {
    font-size: 3rem; }
  .curriculum {
    width: 300px;
    height: auto; } }

@media only screen and (max-width: 788px) {
  .aboutMe {
    display: flex;
    flex-direction: column; }
  .picAndSocial {
    margin: auto; } }

@media only screen and (max-width: 615px) {
  .aboutDiv {
    grid-template-columns: 2fr 2fr; } }

@media only screen and (max-width: 1598px) {
  .workKais {
    justify-content: center; }
  .workKais p {
    margin-bottom: 40px; } }
