body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: center;
}
a{
    text-decoration: none;
    color: map-get($colors, secondary);
}
h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: map-get($colors, primary);
}
h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    text-align: left;
    width: 90%;
}
h4{
    font-size: 21px;
    font-weight: 600;
    color: map-get($colors, primary);
    font-family: 'Josefin Sans', sans-serif;
}
.bGrey{
    background-color: map-get($colors, alternate);
}
.fRed{
    color: map-get($colors, primary);
}
.grey{
    background-color: map-get($colors, alternate);
    padding: 60px 0px 60px 0px;
}
.white{
    padding: 60px 0px 60px 0px;
}
.bgRed{
    background-color: map-get($colors, primary);
}
.textWhite{
    color: white;
}